{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Создание сайта" "index_law" %}

{% endblock %}


{% block content %}
    {% render_breadcrumbs 'bread.html' %}

<section class="simple simple-inner-page">
   <div class="container">
      <div class="row">
{% if article %}

         <div class="col-md-12">
            <div class="img-wrapper">
            </div>
            <div class="news-content">
               <h1 class="law_title">{{ article.title }}</h1><br>
               <p>{{ article.text|safe }}</p>
            </div>
         </div>

      </div>

{% endif %}
</div>
</section>
{% endblock %}