<!--
      about us block
-->
{% if about %}
    <section class="about-us">
       <div class="bg"></div>
       <div class="container">
          <div class="row">

             <div class="col-md-6">
                <!-- <img src="{{ about.image.url }}" height="107" width="411"> -->
                <img src="/media/uploads/armada/about/logo-2.png"  height="107" width="411" >
                <h4>{{ about.title }}</h4>
                 <p>{{ about.text|safe }}</p>
                <a href="#">Подробнее</a>
             </div>

          </div>
       </div>
    </section>
{% endif %}