<!--
      answer block
-->
{% if answer %}
    <section class="answer">
       <div class="bg"></div>
       <div class="container">
          <div class="row">

             <div class="col-md-6 col-md-offset-6">
                <img src="{{ answer.image.url }}" height="107" width="411">
                <h4>{{ answer.title }}</h4>
                <p>{{ answer.text|safe }}</p>
                <a href="/blog/{{ answer.slug }}/">Подробнее</a>
             </div>

          </div>
       </div>
    </section>
{% endif %}