<!--
      clients block
-->
<section class="clients">
   <div class="container">
      <div class="row">
         <h3>Наши последние клиенты</h3>
         {% if clients %}
            <ul>
                {% for client in clients %}
                   <li><a href="http://{{ client.url }}"><img src="{{ client.image.url }}" alt=""></a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Пока нет клиентов</p>
        {% endif %}
      </div>
   </div>
</section>
