<!--
      news block
-->

<section class="news">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-offset-1">
            <h3 class="purple">Новости</h3>
             {% if news %}
                 {% for new in news %}
                    <div class="item">
                        <span>{{ new.created }}</span>
                        <h6><a href="{% url 'armada:news_detail' new.slug%}">{{ new.title|title }}</a></h6>
                        <p>{{ new.text|truncatechars:150|safe }}</p>
                    </div>
                 {% endfor %}
{#                <a href="{% url 'armada:news_list'%}" class="load-more">Еще статьи</a>#}
             {% else %}
                <p>Пока нет новостей</p>
             {% endif %}
         </div>
         <div class="col-md-4 col-md-offset-2">
            <h3 class="yellow">Блог</h3>
             {% if blogs %}
                 {% for blog in blogs %}
                    <div class="item">
                       <span>{{ blog.created }}</span>
                       <h6><a href="{% url 'armada:blogs_detail' blog.slug %}">{{ blog.title|title }}</a></h6>
                       <p>{{ blog.text|safe|truncatechars_html:150 }}</p>
                    </div>
                 {% endfor %}
{#                 <a href="{% url 'armada:blogs_list' %}" class="load-more">Еще статьи</a>#}
             {% else %}
                <p>Нет записей в блоге</p>
             {% endif %}
         </div>
      </div>
   </div>
</section>