<!--
      reviews block
-->

<section class="reviews">
   <div class="container">
      <div class="row">
        {% if reviews %}
         <h3>Наши клиенты о нас</h3>
         <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for review in reviews %}
                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                       <div class="col-md-8 col-md-offset-2">
                          <h5>{{ review.title }}</h5>
                          <span>{{ review.company }}</span>
                          <p>{{ review.text }}</p>
                       </div>
                    </div><!-- item end -->
                {% endfor %}

            </div><!-- Wrapper for slides -->

            <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next"></a>
            <!-- Left and right controls end -->

         </div><!-- #myCarousel1 end -->
        {% else %}
          <h3>Пока нет отзывов</h3>
        {% endif %}
      </div>
   </div>
</section>