<!--
      slider block
-->
{% if sliders %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
       <div class="container">
          <ol class="carousel-indicators">
              {% for slider in sliders %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter|add:'-1' }}" {% if forloop.counter == 1 %}class="active"{% endif %}><img src="{{ slider.icon.url }}"></li>
              {% endfor %}
          </ol><!-- Indicators end -->

          <div class="carousel-inner" role="listbox">
            {% for slider in sliders %}
                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                   <div class="container">
                      <div class="col-md-5 col-md-offset-1 ">
                         <h2>{{ slider.title|title }}</h2>
                         <p>{{ slider.text }}</p>
                      </div>
                      <div class="col-md-5"><img src="{{ slider.image.url }}" height="174" width="561" alt="Chania"></div>
                   </div>
                </div>
            {% endfor %}
          </div><!-- carousel-inner end -->

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"></a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"></a>
       </div>
    </div><!-- carousel end -->
{% endif %}