<!--
      social block
-->

<section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>