<!--
      video block
-->

<section class="video">
   <div class="container">
      <div class="row">

         <div class="col-md-6 col-md-offset-3">
            <h3>Видео презентация наших работ</h3>
            <p>Lorem ipsum dolor sit amet, an erat tritani interpretaris mel. Erat putant tincidunt his at, inani doming has at. In nobis homero invidunt his. Adhuc forensibus omittantur vis te, duo et putant facilisis, scripta assueverit nam at.</p>
         </div>
         <div class="clear"></div>
         <div class="video-wrapper">
            <iframe width="368" height="277" src="https://www.youtube.com/embed/lCWfVgf2ZAo" frameborder="0" allowfullscreen></iframe>
         </div>

      </div>
   </div>
</section>