{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Портфолио" "index_portfolio" %}

{% endblock %}



{% block content %}
    {% render_breadcrumbs 'bread.html' %}

<section class="portfolio-page">
   <div class="container">
      <div class="row">

         <ul class="nav nav-tabs col-md-3 col-sm-3" role="tablist" id="myTab">
            <h1>Категории</h1>
                {% if portfolio %}
                    {% for item in portfolio %}
                         <li class="{% if forloop.first%}active{% endif %}"><a role="tab" data-toggle="tab" href="#{{ item.id }}">{{ item.title }}</a></li>
                    {% endfor %}
                {% endif %}
         </ul>


              <div class="tab-content col-md-9 col-sm-9">
              {% for item in portfolio %}
                <div class="tab-pane fade {% if forloop.first%}active{% endif %} in" id="{{ item.id }}">
                   <ul>
                            {% for image in images %}
                                {% if image.project.id == item.id %}
                                    <li><a data-toggle="lightbox" data-gallery="navigateTo" href="{{ image.image.url }}"><img class="img-responsive" src="{{ image.image.url }}" alt=""></a></li>
                                {% endif %}
                            {% endfor %}
                   </ul>
                </div><!-- promo_action -->
              {% endfor %}
              </div><!-- tab-content -->

      </div>
   </div>
</section>

    <section class="offer">
   <div class="container">
      <div class="row">

         <h3>Мы знаем, что предложить!</h3>
         <ul>
             {% if offers %}
                 {% for offer in offers %}
            <li>
               <img src="{{ offer.image.url }}" height="100%" width="58" alt="">
               <h5>{{ offer.title }}</h5>
               <p>{{ offer.text }}</p>
            </li>
                 {% endfor%}

         {% else %}
                <li>
               <p>Нет предложений</p>
            </li>
         </ul>
        {% endif %}
      </div>
   </div>
</section>


   </div>

    <section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>
{% endblock %}