
@font-face {
    font-family: "MyriadSetPro-Text";
    src: url("../fonts/MyriadSetPro-Text.eot");
    src: url("../fonts/MyriadSetPro-Text.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadSetPro-Text.woff") format("woff"),
    url("../fonts/MyriadSetPro-Text.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadSetPro-Semibold";
    src: url("../fonts/MyriadSetPro-Semibold.eot");
    src: url("../fonts/MyriadSetPro-Semibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadSetPro-Semibold.woff") format("woff"),
    url("../fonts/MyriadSetPro-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadSetPro-Thin";
    src: url("../fonts/MyriadSetPro-Thin.eot");
    src: url("../fonts/MyriadSetPro-Thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadSetPro-Thin.woff") format("woff"),
    url("../fonts/MyriadSetPro-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}