
/************************************
			media queries for 992-1200
*************************************/

@media (min-width: 992px) and (max-width: 1200px) {
	header {
		.container {
			padding: 0 30px;
		}
	}
	// navigation
	nav.navbar-default {
		.collapse.navbar-collapse {
			ul.navbar-nav {
				li {
					a {
						padding: 10px;
					}
				}
				a.order-btn {
					padding: 10px 20px;
				}
			}
		}
	}
	// carousel
	#myCarousel {
		.item {
			padding-top: 20px;
			padding-bottom: 100px;
		}
	}
	// section.video
	section.video {
		padding-top: 30px;
		.video-wrapper {
			margin-top: 30px;
		}
	}
	// section.about-us
	section.about-us {
		padding: 30px 0;
	}
	// section.offer
	section.offer {
		h3 {
			margin: 30px 0;
		}
		ul {
			padding: 0 20px;
			li {
				p {
					line-height: 20px;
				}
				&:nth-child(3), &:nth-child(4) {
					margin-bottom: 0;
				}
			}
		}
	}
	// section.answer
	section.answer {
		padding: 30px 0;
	}
	// section.clients
	section.clients {
		h3 {
			margin: 30px 0;
		}
	}
	// section.news
	section.news {
		padding: 30px 0;
		.item {
			margin-top: 20px;
		}
	}
	// section.social
	section.social {
		padding: 30px 0;
		.container {
			padding: 0 30px;
		}
		.col-md-6 {
			padding-left: 50px;
		}
		ul.col-md-6 {
			text-align: center;
			padding: 30px 0;
			li {
				float: none;
				display: inline-block;
				padding: 0;
				margin: 10px;
			}
		}
	}
	// footer
	footer {
		padding: 30px 0;
		h6 {
			width: 100%;
		}
	}
	// section.portfolio-page
	section.portfolio-page {
		.container {
			.row {
				margin: 0;
			}
		}
	}
	// outdoor-page-content
	section.outdoor-page-content {
		.container {
			.row {
				margin: 0;
			}
		}
		.col-md-6 {
			padding: 0;
		}
		.right-side {
			padding-left: 15px;
		}
	}
	// section.service-category
	section.service-category {
		padding: 10px 0;
		.container {
			.row {
				margin: 0;
			}
		}
		.left-side {
				h1 {
				padding-bottom: 10px;
				font-size: 28px;
			}
		}
	}
	// section.service-category
	section.service-category {
		.left-side {
			padding: 0 4% 0 0;
		}
		.right-side {
			padding: 0 0 0 4%;
		}
	}
	// #myCarousel.service-category-slider
	#myCarousel.service-category-slider {
		padding: 20px 0;
	}

}

/************************************
			media queries for 768px-991px
*************************************/

@media (min-width: 768px) and (max-width: 991px) {

	header {
		.container {padding: 0 30px;}
	}
	// navigation
	nav.navbar-default {
		.collapse.navbar-collapse {
			ul.navbar-nav {
				text-align: center;
				li {
					float: none;
					display: inline-block;
					a {
						padding: 10px;
					}
				}
				a.order-btn {
					padding: 15px 20px;
					float: none;
				}
			}
		}
	}
	// carousel
	#myCarousel {
		padding: 0;
		.item {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		ol.carousel-indicators {
			display: none;
		}
		.col-md-5 {
			img {
				display: block;
				margin: 15px auto 0 auto;
			}
		}
		h2 {
			font-size: 28px;
		}
		p {
			width: 80%;
			margin: 0 auto;
		}
	}
	// section.video
	section.video {
		padding-top: 20px;
		h3 {
			font-size: 28px;
		}
		p {
			width: 80%;
			margin: 0 auto;
		}
		.video-wrapper {
			margin-top: 20px;
		}
	}
	// section.about-us
	section.about-us {
		padding: 20px 0;
		img {
			margin-bottom: 10px;
		}
		h4 {
			font-size: 24px;
		}
		p {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	// section.offer
	section.offer {
		h3 {
			margin: 20px 0 30px 0;
			font-size: 36px;
		}
		ul {
			padding: 0 20px;
			li {
				margin-bottom: 20px;
				h5 {
					font-size: 18px;
				}
				p {
			    line-height: 18px;
				}
			}
		}
	}
	// section.answer
	section.answer {
		padding: 20px 0;
		background-position: 30% center;
		img {
			margin-bottom: 20px;
			width: 100%;
			height: auto;
		}
		h4 {
			font-size: 24px;
		}
		p {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 10px;
		}
	}
	// section.clients
	section.clients {
		h3 {
			font-size: 36px;
			margin: 30px 0;
		}
		ul {
			padding: 0 20px;
		}
	}
	// section.news
	section.news {
		padding: 30px 0;
		.item {
			width: 80%;
			margin: 20px auto 0 auto;
		}
		a.load-more {
			margin-bottom: 30px;
		}
	}
	// section.social
	section.social {
		padding: 20px 0;
		.col-md-6 {
			text-align: center;
			&:before {
				top: 15px;
				left: 20px;
			}
		}
		ul.col-md-6 {
			text-align: center;
			li {
				float: none;
				display: inline-block;
			}
		}
	}
	// footer
	footer {
		padding: 30px 0;
		text-align: center;
		p {
			font-size: 16px;
			width: 80%;
			margin: 0 auto;
		}
		h6 {
			margin: 0 auto;
			a {
				display: inline-block;
				float: none;
				margin: 0 25px;
				img {
					display: block;
				}
			}
		}
		.col-md-4 {
			margin-bottom: 20px;
		}
		form {
			margin-top: 0;
		}
	}
	// section.contacts-page
	section.contacts-page {
		h1 {
			padding-bottom: 0;
			padding-top: 10px;
			font-size: 28px;
		}
		p {
			padding: 10px 0 10px 50px;
			&.last {
				img {
					top: 16px;
				}
			}
		}
	}
	// section.news-page
	section.news-page {
		.col-md-12 {
			overflow: hidden;
			.item {
				overflow: hidden;
				width: 100%;
				.img-wrapper {
					display: block;
					margin: 0 auto 20px auto;
					float: none !important;
					width: 60%;
				}
				.news-content {
					width: 100%;
					float: none !important;
				}
			}
		}
	}
	// section.portfolio-page
	section.portfolio-page {
		.container {
			.row {
				margin: 0;
			}
		}
	}
	// outdoor-page-content
	section.outdoor-page-content {
		.container {
			.row {
				margin: 0;
			}
		}
	}
	// outdoor-page-content
	section.outdoor-page-content {
		.container {
			.row {
				margin: 0;
			}
		}
		.col-md-6 {
			padding: 0;
		}
		.right-side {
			padding-left: 15px;
		}
		h1 {
			font-size: 36px;
			padding: 0 0 20px 0;
		}
		p {
			padding: 0 0 20px 0;
		}
		h2 {
			padding: 20px;
		}
	}
	// section.service-category
	section.service-category {
		padding-bottom: 0;
		.container {
			.row {
				margin: 0;
			}
		}
		.left-side {
			padding: 0 0 15px 0;
			border: 0;
		}
		.right-side {
			padding: 0;
		}
	}
	// #myCarousel.service-category-slider
	#myCarousel.service-category-slider {
		padding: 20px 0;
	}

}

/************************************
			media queries for 320px-767px
*************************************/

@media (min-width: 320px) and (max-width: 767px) {

	header {
		.navbar-header {
			h1 {
				margin: 0 10px;
				overflow: hidden;
				a {
					img {
						margin: 0 10px 0 0;
						float: left;
						display: block;
					}
					span {
						float: left;
						font-size: 14px;
					}
				}
			}
		}
		a.pull-right {
			line-height: 40px !important;
			font-size: 15px;
			width: 60%;
			margin: 0 auto;
			text-align: center;
			float: none !important;
			display: block;
		}
	}
	// .navbar-default
	.navbar-default {
		.navbar-toggle {
			float: none;
			display: block;
			margin: 8px auto;
			border-color: #590184;
			.sr-only {
				position: static;
				width: auto;
				height: auto;
				font-family: "MyriadSetPro-Semibold";
				text-transform: uppercase;
				font-size: 14px;
				color: #590184;
			}
			&:hover, &:active, &:focus {
				background: #590184;
				.sr-only {
					color: #fff;
				}
			}
		}
		.navbar-collapse {
			ul.navbar-nav {
				padding: 0;
				margin: 0;
				text-align: center;
				li {
					float: none;
					display: block;
					padding: 0;
					a {
						transition: none;
						padding: 5px 0 !important;
						text-align: center;
						text-transform: uppercase;
					}
				}
				a.order-btn {
					float: none !important;
					display: inline-block;
				}
			}
		}
	}
	// #myCarousel
	#myCarousel {
		padding: 0;
		.item {
			padding: 30px 0 0 0;
			.container {
				padding: 0;
			}
			.col-md-5 {
				padding: 0;
			}
			h2 {
				padding-top: 0;
				text-align: center;
				font-size: 28px;
				br {display: none;}
			}
			p {
				margin: 15px;
			}
		}
		.carousel-control{
			&.left {left: 10px;}
			&.right {right: 10px;}
		}
		ol.carousel-indicators {display: none;}
	}
	// section.video
	section.video {
		padding-top: 15px;
		h3 {
			font-size: 28px;
			margin-bottom: 15px;
		}
		p {
			line-height: 18px;
		}
		.video-wrapper {
			width: 90%;
			margin: 20px auto;
			background: none;
			height: auto;
			iframe  {
				position: static;
			}
		}
	}
	// section.about-us
	section.about-us {
		background: #590184;
		padding: 15px 0;
		.bg {
			display: none;
		}
		img {
			width: 90%;
			display: block;
			margin: 0 auto 15px auto;
			height: auto;
		}
		h4 {
			margin-bottom: 15px;
			text-align: center;
			font-size: 24px;
		}
		p {
			font-size: 15px;
			margin-bottom: 15px;
		}
	}
	// section.offer
	section.offer {
		h3 {
			font-size: 28px;
			margin: 15px 0 25px 0;
		}
		ul {
			padding-top: 20px;
			li {
				width: 96%;
				margin: 0 auto 25px auto;
				float: none;
				display: block;
				img {
					display: block;
					float: none;
					margin: 0 auto 10px auto;
				}
				h5 {
					font-size: 20px;
					margin-bottom: 15px;
					text-align: center;
				}
				p {
					line-height: 18px;
				}
			}
		}
	}
	// section.answer
	section.answer {
		padding: 15px 0;
		background: #590184;
		.bg {
			display: none;
		}
		img {
			display: block;
			width: 90%;
			height: auto;
			margin: 0 auto 15px auto;
		}
		h4 {
			margin-bottom: 15px;
			text-align: center;
			font-size: 24px;
		}
		p {
			font-size: 15px;
			margin-bottom: 15px;
		}
	}
	// section.clients
	section.clients {
		h3 {
			font-size: 28px;
			margin: 15px auto 20px auto;
			width: 80%;
		}
		ul {
			padding: 0 10px;
			li {
				width: 49%;
				margin-right: 2%;
				&:nth-child(even) {
					margin-right: 0;
				}
				a {
					img {
						filter: none;
   					-webkit-filter: grayscale(0%);
					}
				}
			}
		}
	}
	// section.reviews
	section.reviews {
		background-size: cover;
		padding: 10px 0;
		h3 {
			font-size: 28px;
		}
		#myCarousel1 {
			width: 96%;
			.carousel-control {
				&.left {left: 5px;}
				&.right {right: 5px;}
			}
		}
	}
	// section.news
	section.news {
		padding: 30px 0;
		.item {
			margin-top: 20px;
		}
		a.load-more {
			margin-bottom: 30px;
		}
	}
	// section.social
	section.social {
		.col-md-6:before {display: none;}
		.col-md-6 {
			text-align: center;
			padding: 0 15px;
			p {
				font-size: 18px;
				line-height: 20px;
			}
			h5 {
				font-size: 24px;
			}
		}
		ul.col-md-6 {
			text-align: center;
			padding: 0 40px;
			li {
				padding-top: 0;
				width: 70px;
				height: 70px;
				margin-right: 10px;
				float: left;
				margin-bottom: 10px;
				a {
					display: block;
					font-size: 0;
				}
			}
		}
	}
	// footer
	footer {
		padding: 30px 0;
		text-align: center;
		a.logo {
			display: block;
			img {
				width: 100%;
				display: block;
				height: auto;
			}
		}
		p {
			font-size: 15px;
		}
		h6 {
			width: 100%;
			text-align: center;
			a {
				float: none;
				display: inline-block;
				margin: 0 20px;
			}
		}
		.col-md-4 {
			margin-bottom: 20px;
		}
	}
	// section.contacts-page
	section.contacts-page {
		h1 {
			padding-bottom: 0;
			padding-top: 10px;
			font-size: 28px;
		}
		p {
			padding: 10px 0 10px 25px;
			font-size: 14px;
			img {
				width: 15px;
				height: auto;
			}
			&.last {
				img {
					top: 20px;
				}
			}
		}
		form {
			textarea {
				height: 100px;
			}
		}
	}
	// section.news-page
	section.news-page {
		.col-md-12 {
			overflow: hidden;
			.item {
				overflow: hidden;
				width: 100%;
				.img-wrapper {
					display: block;
					margin: 0 auto 20px auto;
					float: none !important;
					width: 80%;
				}
				.news-content {
					width: 100%;
					float: none !important;
					padding: 0;
				}
			}
		}
	}
	// section.news
	section.news {
		padding: 10px 0;
	}
	// section.portfolio-page
	section.portfolio-page {
		.container {
			.row {
				margin: 0;
			}
		}
		#myTab {
			text-align: center;
			li {
				float: none;
				display: inline-block;
				a {
					padding: 0;
					font-size: 14px;
				}
				&.active {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}
		.tab-content {
			padding: 20px 0 0 0;
			.tab-pane {
				ul {
					li {}
				}
			}
		}
	}
	// price-list
	section.price-list {
		padding: 15px 0;
	}
	// section.service-category
	section.service-category {
		padding: 10px 0;
	}
	// section.service-category
	section.service-category {
		padding-bottom: 0;
		.container {
			.row {
				margin: 0;
			}
		}
		.left-side {
			padding: 0 0 15px 0;
			border: 0;
		}
		.right-side {
			padding: 0;
			a {
				padding: 0 20px;
			}
			ul {
				margin: 15px auto;
				li {
					width: 48%;
					margin-right: 4%;
					&:nth-child(2) {
						margin-right: 0;
					}
					img {
						float: none !important;
						margin: 0 auto 15px auto;
						text-align: center;
					}
					p {
						float: none;
						text-align: center;
					}
					span {
						text-align: center;
					}
				}
			}
		}
	}
	// #myCarousel.service-category-slider
	#myCarousel.service-category-slider {
		padding: 20px 0;
		.item {
			h3 {
				position: absolute;
		    bottom: 10px;
		    color: #fff;
		    left: 10px;
		    font-size: 18px;
		    line-height: 20px;
			}
		}
		ol.carousel-indicators {
			display: none;
		}
	}

}
@media (min-width: 481) and (max-width: 767px) {
	// outdoor-page-content
	section.outdoor-page-content {
		.container {
			.row {
				margin: 0;
			}
		}
		.col-md-6 {
			padding: 0;
			margin-bottom: 15px;
		}
		.right-side {
			padding-left: 0;
		}
		h1 {
			font-size: 28px;
			padding: 0 0 15px 0;
		}
		p {
			padding: 0 0 20px 0;
		}
		h2 {
			padding: 20px;
		}
		ul {
			li {
				width: 33%;
				margin-right: 0.5%;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	// outdoor-page-content
	section.outdoor-page-content {
		.container {
			.row {
				margin: 0;
			}
		}
		.col-md-6 {
			padding: 0;
			margin-bottom: 15px;
		}
		.right-side {
			padding-left: 0;
		}
		h1 {
			font-size: 28px;
			padding: 0 0 15px 0;
		}
		p {
			padding: 0 0 20px 0;
		}
		h2 {
			padding: 20px;
		}
		ul {
			li {
				width: 49.5%;
				margin-right: 1%;
				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}
}