/************************************
			media queries for 992-1200
*************************************/
@media (min-width: 992px) and (max-width: 1200px) {
  header .container {
    padding: 0 30px;
  }
  nav.navbar-default .collapse.navbar-collapse ul.navbar-nav li a {
    padding: 10px;
    font-size: 14px;
  }
  nav.navbar-default .collapse.navbar-collapse ul.navbar-nav a.order-btn {
    padding: 10px 20px;
  }
  #myCarousel .item {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  section.video {
    padding-top: 30px;
  }
  section.video .video-wrapper {
    margin-top: 30px;
  }
  section.about-us {
    padding: 30px 0;
  }
  section.offer h3 {
    margin: 30px 0;
  }
  section.offer ul {
    padding: 0 20px;
  }
  section.offer ul li p {
    line-height: 20px;
  }
  section.offer ul li:nth-child(3),
  section.offer ul li:nth-child(4) {
    margin-bottom: 0;
  }
  section.answer {
    padding: 30px 0;
  }
  section.clients h3 {
    margin: 30px 0;
  }
  section.news {
    padding: 30px 0;
  }
  section.news .item {
    margin-top: 20px;
  }
  section.social {
    padding: 30px 0;
  }
  section.social .container {
    padding: 0 30px;
  }
  section.social .col-md-6 {
    padding-left: 50px;
  }
  section.social ul.col-md-6 {
    text-align: center;
    padding: 30px 0;
  }
  section.social ul.col-md-6 li {
    float: none;
    display: inline-block;
    padding: 0;
    margin: 10px;
  }
  footer {
    padding: 30px 0;
  }
  footer h6 {
    width: 100%;
  }
  section.portfolio-page .container .row {
    margin: 0;
  }
  section.outdoor-page-content .container .row {
    margin: 0;
  }
  section.outdoor-page-content .col-md-6 {
    padding: 0;
  }
  section.outdoor-page-content .right-side {
    padding-left: 15px;
  }
  section.service-category {
    padding: 10px 0;
  }
  section.service-category .container .row {
    margin: 0;
  }
  section.service-category .left-side h1 {
    padding-bottom: 10px;
    font-size: 28px;
  }
  section.service-category .left-side {
    padding: 0 4% 0 0;
  }
  section.service-category .right-side {
    padding: 0 0 0 4%;
  }
  #myCarousel.service-category-slider {
    padding: 20px 0;
  }
}
/************************************
			media queries for 768px-991px
*************************************/
@media (min-width: 768px) and (max-width: 991px) {
  header .container {
    padding: 0 30px;
  }
  nav.navbar-default .collapse.navbar-collapse ul.navbar-nav {
    text-align: center;
  }
  nav.navbar-default .collapse.navbar-collapse ul.navbar-nav li {
    float: none;
    display: inline-block;
  }
  nav.navbar-default .collapse.navbar-collapse ul.navbar-nav li a {
    padding: 7px 7px;
    font-size: 13px;
  }
  nav.navbar-default .collapse.navbar-collapse ul.navbar-nav a.order-btn {
    padding: 10px 13px;
    margin-top: 15px;
    float: none;
    font-size: 13px;
  }
  #myCarousel {
    padding: 0;
  }
  #myCarousel .item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #myCarousel ol.carousel-indicators {
    display: none;
  }
  #myCarousel .col-md-5 img {
    display: block;
    margin: 15px auto 0 auto;
  }
  #myCarousel h2 {
    font-size: 28px;
  }
  #myCarousel p {
    width: 80%;
    margin: 0 auto;
  }
  section.video {
    padding-top: 20px;
  }
  section.video h3 {
    font-size: 28px;
  }
  section.video p {
    width: 80%;
    margin: 0 auto;
  }
  section.video .video-wrapper {
    margin-top: 20px;
  }
  section.about-us {
    padding: 20px 0;
  }
  section.about-us .bg{
    width: 100%;
  }
  section.about-us img {
    margin-bottom: 10px;
  }
  section.about-us h4 {
    font-size: 24px;
  }
  section.about-us p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  section.offer h3 {
    margin: 20px 0 30px 0;
    font-size: 36px;
  }
  section.offer ul {
    padding: 0 20px;
  }
  section.offer ul li {
    margin-bottom: 20px;
  }
  section.offer ul li h5 {
    font-size: 18px;
  }
  section.offer ul li p {
    line-height: 18px;
  }
  section.answer {
    padding: 20px 0;
    background-position: 30% center;
  }
  section.answer .bg{
    width: 100%;
  }
  section.answer img {
    margin-bottom: 20px;
    width: 70%;
    height: auto;
  }
  section.answer h4 {
    font-size: 24px;
  }
  section.answer p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  section.clients h3 {
    font-size: 36px;
    margin: 30px 0;
  }
  section.clients ul {
    padding: 0 20px;
  }
  section.news {
    padding: 30px 0;
  }
  section.news .item {
    width: 80%;
    margin: 20px auto 0 auto;
  }
  section.news a.load-more {
    margin-bottom: 30px;
  }
  section.social {
    padding: 20px 0;
  }
  section.social .col-md-6 {
    text-align: center;
  }
  section.social .col-md-6:before {
    top: 15px;
    left: 20px;
  }
  section.social ul.col-md-6 {
    text-align: center;
  }
  section.social ul.col-md-6 li {
    float: none;
    display: inline-block;
  }
  footer {
    padding: 30px 0;
    text-align: center;
  }
  footer p {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
  }
  footer h6 {
    margin: 0 auto;
  }
  footer h6 a {
    display: inline-block;
    float: none;
    margin: 0 25px;
  }
  footer h6 a img {
    display: block;
  }
  footer .col-md-4 {
    margin-bottom: 20px;
  }
  footer form {
    margin-top: 0;
  }
  section.contacts-page h1 {
    padding-bottom: 0;
    padding-top: 10px;
    font-size: 28px;
  }
  section.contacts-page p {
    padding: 10px 0 10px 50px;
  }
  section.contacts-page p.last img {
    top: 16px;
  }
  section.news-page .col-md-12 {
    overflow: hidden;
  }
  section.news-page .col-md-12 .item {
    overflow: hidden;
    width: 100%;
  }
  section.news-page .col-md-12 .item .img-wrapper {
    display: block;
    margin: 0 auto 20px auto;
    float: none !important;
    width: 60%;
  }
  section.news-page .col-md-12 .item .news-content {
    width: 100%;
    float: none !important;
  }
  section.portfolio-page .container .row {
    margin: 0;
  }
  section.outdoor-page-content .container .row {
    margin: 0;
  }
  section.outdoor-page-content .container .row {
    margin: 0;
  }
  section.outdoor-page-content .col-md-6 {
    padding: 0;
  }
  section.outdoor-page-content .right-side {
    padding-left: 15px;
  }
  section.outdoor-page-content h1 {
    font-size: 36px;
    padding: 0 0 20px 0;
  }
  section.outdoor-page-content p {
    padding: 0 0 20px 0;
  }
  section.outdoor-page-content h2 {
    padding: 20px;
  }
  section.service-category {
    padding-bottom: 0;
  }
  section.service-category .container .row {
    margin: 0;
  }
  section.service-category .left-side {
    padding: 0 0 15px 0;
    border: 0;
  }
  section.service-category .right-side {
    padding: 0;
  }
  #myCarousel.service-category-slider {
    padding: 20px 0;
  }
}
/************************************
			media queries for 320px-767px
*************************************/
@media (min-width: 320px) and (max-width: 767px) {
  header .navbar-header h1 {
    margin: 0 10px;
    overflow: hidden;
  }
  header .navbar-header h1 a img {
    margin: 0 10px 0 0;
    float: left;
    display: block;
  }
  header .navbar-header h1 a span {
    float: left;
    font-size: 14px;
  }
  header a.pull-right {
    line-height: 40px !important;
    font-size: 15px;
    text-align: right;
    float: none !important;
    display: none;
    background: none;
    float: left;
  }
  .navbar-default .navbar-toggle {
    float: none;
    display: block;
    float: right;
    transition: all .4s ease;
  }
  .navbar-default .navbar-toggle .sr-only {
    position: static;
    width: auto;
    height: auto;
    font-family: "MyriadSetPro-Semibold";
    text-transform: uppercase;
    font-size: 14px;
    color: #590184;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:focus {
    background: #590184;
    border: 1px solid #590184;
  }
  .navbar-default .navbar-toggle:hover .sr-only,
  .navbar-default .navbar-toggle:active .sr-only,
  .navbar-default .navbar-toggle:focus .sr-only {
    color: #fff;
  }
  .navbar-default .navbar-toggle:hover .icon-bar,
  .navbar-default .navbar-toggle:active .icon-bar,
  .navbar-default .navbar-toggle:focus .icon-bar{
    background: #fff;
  }
  .navbar-default .navbar-collapse ul.navbar-nav {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .navbar-default .navbar-collapse ul.navbar-nav li {
    float: none;
    display: block;
    padding: 0;
  }
  .navbar-default .navbar-collapse ul.navbar-nav li a {
    transition: none;
    padding: 5px 0 !important;
    text-align: center;
    text-transform: uppercase;
  }
  .navbar-default .navbar-collapse ul.navbar-nav a.order-btn {
    float: none !important;
    display: inline-block;
  }
  #myCarousel {
    padding: 0;
  }
  #myCarousel .item {
    padding: 30px 0 0 0;
  }
  #myCarousel .item .container {
    padding: 0;
  }
  #myCarousel .item .col-md-5 {
    padding: 0;
  }
  #myCarousel .item h2 {
    padding-top: 0;
    text-align: center;
    font-size: 28px;
  }
  #myCarousel .item h2 br {
    display: none;
  }
  #myCarousel .item p {
    margin: 15px;
  }
  #myCarousel .carousel-control.left {
    left: 10px;
  }
  #myCarousel .carousel-control.right {
    right: 10px;
  }
  #myCarousel ol.carousel-indicators {
    display: none;
  }
  section.video {
    padding-top: 15px;
  }
  section.video h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  section.video p {
    line-height: 18px;
  }
  section.video .video-wrapper {
    width: 90%;
    margin: 20px auto;
    background: none;
    height: auto;
  }
  section.video .video-wrapper iframe {
    position: static;
  }
  section.about-us {
    background: #590184;
    padding: 15px 0;
  }
  section.about-us img {
    width: 70%;
    display: block;
    margin: 0 auto 15px auto;
    height: auto;
  }
  section.about-us h4 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
  }
  section.about-us p {
    font-size: 15px;
    margin-bottom: 35px;
    text-align: center;
  }
  section.about-us a{
    display: block;
    overflow: hidden;
    width: 170px;
    height: 40px;
    margin: 0 auto;
  }
  section.offer h3 {
    font-size: 28px;
    margin: 15px 0 25px 0;
  }
  section.offer ul {
    padding-top: 20px;
  }
  section.offer ul li {
    width: 96%;
    margin: 0 auto 25px auto;
    float: none;
    display: block;
  }
  section.offer ul li img {
    display: block;
    float: none;
    margin: 0 auto 10px auto;
  }
  section.offer ul li h5 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 25px;
  }
  section.offer ul li p {
    line-height: 18px;
    text-align: center;
    margin-top: 15px;
  }
  section.answer {
    padding: 15px 0;
    background: #590184;
  }
  section.answer .bg {
    display: none;
  }
  section.answer img {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto 15px auto;
  }
  section.answer h4 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
  }
  section.answer a{
    display: block;
    overflow: hidden;
    width: 170px;
    height: 40px;
    margin: 0 auto;
  }
  section.answer p {
    font-size: 15px;
    margin-bottom: 35px;
    text-align: center;
  }
  section.clients h3 {
    font-size: 28px;
    margin: 15px auto 20px auto;
    width: 80%;
  }
  section.clients ul {
    padding: 0 10px;
  }
  section.clients ul li {
    width: 49%;
    margin-right: 2%;
  }
  section.clients ul li:nth-child(even) {
    margin-right: 0;
  }
  section.clients ul li a img {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
  section.reviews {
    background-size: cover;
    padding: 10px 0;
  }
  section.reviews h3 {
    font-size: 28px;
  }
  section.reviews #myCarousel1 {
    width: 96%;
    margin-bottom: 30px;
  }
  section.reviews #myCarousel1 .carousel-control.left {
    left: 5px;
  }
  section.reviews #myCarousel1 .carousel-control.right {
    right: 5px;
  }
  section.news {
    padding: 30px 0;
  }
  section.news h3{
    margin-top: 30px;
  }
  section.news .item {
    margin-top: 20px;
  }
  section.news a.load-more {
    margin-bottom: 30px;
  }
  section.social .col-md-6:before {
    display: none;
  }
  section.news .item h6 {
    margin-top: 10px;
  }

  section.social .col-md-6 {
    text-align: center;
    padding: 0 15px;
  }
  section.social .col-md-6 p {
    font-size: 18px;
    line-height: 20px;
  }
  section.social .col-md-6 h5 {
    font-size: 24px;
  }
  section.social ul.col-md-6 {
    text-align: center;
    padding: 0 40px;
  }
  section.social ul.col-md-6 li {
    padding-top: 0;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
  }
  section.social ul.col-md-6 li a {
    display: block;
    font-size: 0;
  }
  footer {
    padding: 30px 0;
    text-align: center;
  }
  footer a.logo {
    display: block;
  }
  footer a.logo img {
    width: 100%;
    display: block;
    height: auto;
  }
  footer p {
    font-size: 15px;
  }
  footer h6 {
    width: 100%;
    text-align: center;
  }
  footer h6 a {
    float: none;
    display: inline-block;
    margin: 0 20px;
  }
  footer .col-md-4 {
    margin-bottom: 20px;
  }
  section.contacts-page h1 {
    padding-bottom: 0;
    padding-top: 10px;
    font-size: 28px;
  }
  section.contacts-page p {
    padding: 10px 0 10px 25px;
    font-size: 14px;
  }
  section.contacts-page p img {
    width: 15px;
    height: auto;
  }
  section.contacts-page p.last img {
    top: 20px;
  }
  section.contacts-page form textarea {
    height: 100px;
  }
  section.news-page .col-md-12 {
    overflow: hidden;
  }
  section.news-page .col-md-12 .item {
    overflow: hidden;
    width: 100%;
  }
  section.news-page .col-md-12 .item .img-wrapper {
    display: block;
    margin: 0 auto 20px auto;
    float: none !important;
    width: 80%;
  }
  section.news-page .col-md-12 .item .news-content {
    width: 100%;
    float: none !important;
    padding: 0;
  }
  section.news {
    padding: 10px 0;
  }
  section.portfolio-page .container .row {
    margin: 0;
  }
  section.portfolio-page #myTab {
    text-align: center;
  }
  section.portfolio-page #myTab li {
    float: none;
    display: inline-block;
  }
  section.portfolio-page #myTab li a {
    padding: 0;
    font-size: 14px;
  }
  section.portfolio-page #myTab li.active a:after {
    display: none;
  }
  section.portfolio-page .tab-content {
    padding: 20px 0 0 0;
  }
  section.price-list {
    padding: 15px 0;
  }
  section.service-category {
    padding: 10px 0;
  }
  section.service-category {
    padding-bottom: 0;
  }
  section.service-category .container .row {
    margin: 0;
  }
  section.service-category .left-side {
    padding: 0 0 15px 0;
    border: 0;
  }
  section.service-category .right-side {
    padding: 0;
  }
  section.service-category .right-side a {
    padding: 0 20px;
  }
  section.service-category .right-side ul {
    margin: 15px auto;
  }
  section.service-category .right-side ul li {
    width: 48%;
    margin-right: 4%;
  }
  section.service-category .right-side ul li:nth-child(2) {
    margin-right: 0;
  }
  section.service-category .right-side ul li img {
    float: none !important;
    margin: 0 auto 15px auto;
    text-align: center;
  }
  section.service-category .right-side ul li p {
    float: none;
    text-align: center;
  }
  section.service-category .right-side ul li span {
    text-align: center;
  }
  #myCarousel.service-category-slider {
    padding: 20px 0;
  }
  #myCarousel.service-category-slider .item h3 {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  #myCarousel.service-category-slider ol.carousel-indicators {
    display: none;
  }
}
@media (min-width: 481) and (max-width: 767px) {
  section.outdoor-page-content .container .row {
    margin: 0;
  }
  section.outdoor-page-content .col-md-6 {
    padding: 0;
    margin-bottom: 15px;
  }
  section.outdoor-page-content .right-side {
    padding-left: 0;
  }
  section.outdoor-page-content h1 {
    font-size: 28px;
    padding: 0 0 15px 0;
  }
  section.outdoor-page-content p {
    padding: 0 0 20px 0;
  }
  section.outdoor-page-content h2 {
    padding: 20px;
  }
  section.outdoor-page-content ul li {
    width: 33%;
    margin-right: 0.5%;
  }
  section.outdoor-page-content ul li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
    header .navbar-header h1 a span {
    float: left;
    font-size: 13px;
  }
  section.outdoor-page-content .container .row {
    margin: 0;
  }
  section.outdoor-page-content .col-md-6 {
    padding: 0;
    margin-bottom: 15px;
  }
  section.outdoor-page-content .right-side {
    padding-left: 0;
  }
  section.outdoor-page-content h1 {
    font-size: 28px;
    padding: 0 0 15px 0;
  }
  section.outdoor-page-content p {
    padding: 0 0 20px 0;
  }
  section.outdoor-page-content h2 {
    padding: 20px;
  }
  section.outdoor-page-content ul li {
    width: 49.5%;
    margin-right: 1%;
  }
  section.outdoor-page-content ul li:nth-child(even) {
    margin-right: 0;
  }
}
