/* reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none; }blockquote, q {quotes: none;}blockquote:before, blockquote:after {content: '';content: none;}q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}input[type=text] {outline: 0;}input[type=submit] {outline: 0;}input[type=button] {outline: 0;}input[type=button]:hover {cursor: pointer;}textarea {outline: 0;}img{max-width: 100%;}.clear_padding {padding-bottom: 20px;}.clear{clear:both; font-size:0;line-height: 0;}.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}html>body .clearfix {display:block;}.clearfix {display:inline-block;} .clear {clear: both;font-size: 0;line-height: 0;}

/**/

.clearfix:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}
.clearfix {display: inline-block;}.clear {clear: both;display: block;height: 0;visibility: hidden;line-height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}