a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
body {
  font-family: "MyriadSetPro-Text";
  min-width: 320px;
}
/**********************************************
               HEADER
**********************************************/
header {
  background: #590184;
  font-family: "MyriadSetPro-Text";
}
header h1 a {
  display: block;
  overflow: hidden;
  padding: 12px 0;
}
header h1 a img {
  display: block;
  float: left;
  margin-right: 22px;
}
header h1 a span {
  display: block;
  float: right;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0;
}
header a.pull-right {
  font-size: 18px;
  line-height: 85px !important;
  color: #fff;
  padding-left: 40px;
  background: url(../img/png/mailto.png) 0 center no-repeat;
}
/**********************************************
               nav
**********************************************/
nav.navbar-default {
  padding: 0;
  background: #fff;
  margin: 0;
  border: 0;
}
nav.navbar-default .collapse.navbar-collapse {
  padding: 0;
}
nav.navbar-default .collapse.navbar-collapse ul.navbar-nav {
  padding: 12px 0;
  float: none;
}
nav.navbar-default .collapse.navbar-collapse ul.navbar-nav li a {
  font-size: 16px;
  padding: 15px;
  text-transform: uppercase;
  color: #000;
}
nav.navbar-default .collapse.navbar-collapse ul.navbar-nav li a:hover {
  color: #590184;
}
nav.navbar-default .collapse.navbar-collapse ul.navbar-nav a.order-btn {
  margin: 0;
  padding: 15px 30px;
  background: #e8c511;
  display: inline-block;
  float: right;
  color: #fff;
  border-bottom: 1px solid #c5a70e;
  border-top: 1px solid #e8c511;
  border-right: 1px solid #c5a70e;
  border-left: 1px solid #e8c511;
}
nav.navbar-default .collapse.navbar-collapse ul.navbar-nav a.order-btn:hover {
  text-decoration: none;
  border-bottom: 1px solid #e8c511;
  border-top: 1px solid #c5a70e;
  border-right: 1px solid #e8c511;
  border-left: 1px solid #c5a70e;
}
/**********************************************
               myCarousel
**********************************************/
#myCarousel {
  background: #e0e0e0;
  padding: 40px 0;
}
#myCarousel ol.carousel-indicators {
  bottom: 40px;
  text-align: center;
  overflow: hidden;
}
#myCarousel ol.carousel-indicators li {
  width: 16.6%;
  height: 70px;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  float: left;
  border-radius: 0;
  border-right: 0;
  background: #fff;
}
#myCarousel ol.carousel-indicators li img {
  position: absolute;
  display: block;
  width: auto;
  margin: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  opacity: 0.7;
  /*width: 75%;*/
  height: auto;
}

#myModal .modal-dialog {
  width: 40%;
  margin: 50px auto;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#myModal h4 {
        text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #3b3939;
    width: 75%;
    margin: 0 auto;
}

#myModal form{
    text-align: center;
}
#myModal form input{
    display: inline-block;
    width: 60%;
    line-height: 40px;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0 20px;
}

#myModal form input[type="submit"]{
    display: inline-block;
    padding: 0 20px;
    width: auto;
    background: #e8c511;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #c5a70e;
    border-top: 1px solid #e8c511;
    border-right: 1px solid #c5a70e;
    border-left: 1px solid #e8c511;
}

#myCarousel ol.carousel-indicators li span {
  display: block;
  font-size: 15px;
  color: #636363;
}
#myCarousel ol.carousel-indicators li:last-child {
  border-right: 1px solid #fff;
}
#myCarousel ol.carousel-indicators li.active {
  background: #e8c511;
}
#myCarousel ol.carousel-indicators li.active img {
  opacity: 1;
}
#myCarousel .item {
  padding-bottom: 120px;
  padding-top: 60px;
}
#myCarousel .item h2 {
  font-size: 36px;
  text-align: center;
  font-family: "MyriadSetPro-Text";
  padding: 15px 0;
  position: relative;
}
#myCarousel .item h2:after {
  content: '';
  display: inline-block;
  width: 80px;
  height: 2px;
  background: #d0cfcf;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
#myCarousel .item p {
  line-height: 20px;
  font-size: 14px;
  color: #565656;
  text-align: center;
  margin-top: 20px;
}
#myCarousel .carousel-control {
  background: none;
  width: 10%;
  opacity: 1;
}
#myCarousel .carousel-control.left {
  left: 10%;
  background: url(../img/slider/icons/left.png) 0 center no-repeat;
}
#myCarousel .carousel-control.right {
  right: 10%;
  background: url(../img/slider/icons/right.png) 100% center no-repeat;
}
/**********************************************
               video
**********************************************/
section.video {
  padding-top: 65px;
}
section.video h3 {
  text-align: center;
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;
}
section.video p {
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
  text-align: center;
}
section.video .video-wrapper {
  height: 385px;
  background: url(../img/png/video-bg.png) center no-repeat;
  width: 677px;
  margin: 65px auto 0 auto;
  position: relative;
  overflow: hidden;
}
section.video .video-wrapper iframe {
  position: absolute;
  top: 35px;
  left: 163px;
}
/**********************************************
               about-us
**********************************************/
section.about-us {
  padding: 80px 0;
  background: url(../img/jpeg/team.jpg) center no-repeat;
  position: relative;
}
section.about-us .bg {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #590184;
  opacity: 0.95;
}
section.about-us img {
  margin-bottom: 50px;
}
section.about-us h4 {
  font-size: 30px;
  color: #fff;
  font-family: "MyriadSetPro-Semibold";
  margin-bottom: 20px;
}
section.about-us p {
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 40px;
}
section.about-us a {
  color: #000;
  padding: 0 60px 0 20px;
  line-height: 40px;
  display: inline-block;
  font-size: 18px;
  background: #e8c511 url(../img/png/arrow.png) 84% center no-repeat;
}
/**********************************************
               offer
**********************************************/
section.offer h3 {
  font-size: 48px;
  color: #000;
  text-align: center;
  margin: 80px 0;
}
section.offer ul {
  overflow: hidden;
}
section.offer ul li {
  float: left;
  width: 49%;
  overflow: hidden;
  margin-right: 2%;
  margin-bottom: 50px;
}
section.offer ul li img {
  float: left;
  margin: 0 30px 100px 0;
}
section.offer ul li h5 {
  font-size: 24px;
  color: #000;
  font-family: "MyriadSetPro-Semibold";
  margin-bottom: 20px;
}
section.offer ul li p {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 30px;
}
section.offer ul li:nth-child(2n) {
  margin-right: 0;
}
/**********************************************
               answer
**********************************************/
section.answer {
  padding: 80px 0;
  background: url(../img/jpeg/answer.jpg) center no-repeat;
  position: relative;
}
section.answer .bg {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #590184;
  opacity: 0.95;
}
section.answer img {
  margin-bottom: 50px;
}
section.answer h4 {
  font-size: 30px;
  color: #fff;
  font-family: "MyriadSetPro-Semibold";
  margin-bottom: 20px;
}
section.answer p {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 40px;
}
section.answer a {
  color: #000;
  padding: 0 60px 0 20px;
  line-height: 40px;
  display: inline-block;
  font-size: 18px;
  background: #e8c511 url(../img/png/arrow.png) 84% center no-repeat;
}
/**********************************************
               clients
**********************************************/
section.clients {
  background: #e0e0e0;
  padding-bottom: 30px;
}
section.clients h3 {
  font-size: 48px;
  color: #272727;
  text-align: center;
  margin: 65px 0;
}
section.clients ul {
  overflow: hidden;
}
section.clients ul li {
  width: 25%;
  float: left;
  text-align: center;
  min-height: 86px;
  margin-bottom: 10px;
}
section.clients ul li a {
  display: block;
  font-size: 0;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 86px;
}
section.clients ul li a img {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
section.clients ul li a:hover img {
  filter: none;
  -webkit-filter: grayscale(0%);
}
/**********************************************
               reviews
**********************************************/
section.reviews {
  background: url(../img/jpeg/reviews.jpg) center no-repeat;
  padding: 30px 0;
}
section.reviews h3 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin: 10px 0 30px 0;
}
section.reviews #myCarousel1 {
  width: 70%;
  margin: 0 auto;
  background: #fff;
}
section.reviews #myCarousel1 .carousel-control {
  background: none;
  width: 10%;
  opacity: 1;
}
section.reviews #myCarousel1 .carousel-control.left {
  left: 10%;
  background: url(../img/slider/icons/left.png) 0 center no-repeat;
}
section.reviews #myCarousel1 .carousel-control.right {
  right: 10%;
  background: url(../img/slider/icons/right.png) 100% center no-repeat;
}
section.reviews #myCarousel1 .item h5 {
  font-size: 18px;
  color: #272727;
  font-family: "MyriadSetPro-Semibold";
  text-align: center;
  padding-top: 50px;
}
section.reviews #myCarousel1 .item span {
  font-size: 14px;
  color: #979797;
  font-family: "MyriadSetPro-Semibold";
  text-align: center;
  display: block;
  line-height: 30px;
  padding-bottom: 10px;
  position: relative;
}
section.reviews #myCarousel1 .item span:after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 30px;
  height: 4px;
  background: #cecece;
  left: 50%;
  margin-left: -15px;
}
section.reviews #myCarousel1 .item p {
  font: 18px;
  line-height: 30px;
  color: #7b7b7b;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
/**********************************************
               news
**********************************************/
section.news {
  text-align: center;
  padding: 80px 0 35px 0;
}
section.news h3 {
  line-height: 50px;
  display: inline-block;
  padding: 0 70px;
  position: relative;
  background: #4d0371;
  color: #fff;
  font-size: 36px;
  min-width: 250px;
}
section.news h3:after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 18px solid #fff;
  border-bottom: 25px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
}
section.news h3:before {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 18px solid #fff;
  border-bottom: 25px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
}
section.news h3.yellow {
  background: #e8c511;
}
section.news .item {
  margin-top: 50px;
}
section.news .item span {
  display: inline-block;
  font-size: 14px;
  color: black;
  padding-left: 35px;
  font-family: "MyriadSetPro-Semibold";
  background: url(../img/png/calendar.png) 0 center no-repeat;
  line-height: 36px;
}
section.news .item h6 {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: "MyriadSetPro-Semibold";
}
section.news .item h6 a {
  color: #d1b10f;
  text-decoration: underline;
}
section.news .item p {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 20px;
  font-family: "MyriadSetPro-Semibold";
}
section.news a.load-more {
  display: inline-block;
  margin-top: 30px;
  line-height: 36px;
  padding: 0 25px;
  background: #e8c511;
  color: #fff;
  text-decoration: none;
}
/**********************************************
               social
**********************************************/
section.social {
  background: #e8c511;
  padding: 35px 0;
}
section.social .col-md-6 {
  text-align: right;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
section.social .col-md-6 p {
  font-size: 26px;
  line-height: 40px;
  color: #000;
}
section.social .col-md-6 h5 {
  font-size: 36px;
  line-height: 40px;
  font-family: "MyriadSetPro-Semibold";
  color: #000;
}
section.social .col-md-6:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/png/social-icon.png) 0 center no-repeat;
  width: 94px;
  height: 124px;
}
section.social ul.col-md-6 {
  padding-top: 0;
  padding-bottom: 0;
}
section.social ul.col-md-6 li {
  float: left;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
section.social ul.col-md-6 li:last-child {
  margin-right: 0;
}
section.social ul.col-md-6:before {
  display: none;
}
/**********************************************
               footer
**********************************************/
footer {
  padding: 70px 0;
}
footer a.logo {
  display: block;
  font-size: 0;
  text-align: center;
  margin-bottom: 20px;
}
footer a.logo img {
  display: block;
  margin: auto;
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer a.logo:hover img {
  filter: none;
  -webkit-filter: grayscale(0%);
}
footer p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 30px;
}
footer p b {
  font-weight: 700;
}
footer h6 {
  line-height: 43px;
  width: 50%;
}
footer h6 a {
  display: block;
  font-size: 0;
  float: right;
  line-height: auto;
}
footer h4 {
  font-size: 30px;
  color: #000;
  margin-bottom: 25px;
}
footer span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 10px;
}
footer .middle p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}
footer .middle span img {
  margin-right: 10px;
}
footer .right-side span {
  padding-left: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "MyriadSetPro-Semibold";
  color: #cbcbcb;
}
footer form {
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}
footer form input[type=text],
footer form input[type=email] {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 15px;
  display: block;
  float: left;
  padding: 0 10px;
  line-height: 40px;
  font-size: 14px;
  border: none;
  background: #f3f3f3;
  outline: 0;
}
footer form textarea {
  width: 98%;
  height: 160px;
  resize: none;
  border: none;
  background: #f3f3f3;
}
footer form input[type=submit] {
  display: inline-block;
  line-height: 40px;
  padding: 0 40px;
  text-align: center;
  color: #000;
  background: #e8c511;
  font-size: 18px;
  border: none;
  margin-top: 12px;
}
.breadcrumbs {
  padding: 10px 0;
}
.breadcrumbs ul {
  overflow: hidden;
}
.breadcrumbs ul li {
  font-size: 12px;
  color: #590184;
  float: left;
  padding-right: 20px;
  background: url(../img/png/outdoor-page/direction.png) 86% center no-repeat;
}
.breadcrumbs ul li a {
  color: #696666;
}
.breadcrumbs ul li:last-child {
  background: none;
}
section.outdoor-page-content h1 {
  padding: 30px 35px;
  font-size: 48px;
}
section.outdoor-page-content h2 {
  padding: 30px 25px 30px 35px;
  font-size: 16px;
  color: #242424;
  background: #f2f2f2;
  font-family: "MyriadSetPro-Semibold";
  line-height: 24px;
}
section.outdoor-page-content p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 35px 20px 35px;
}
section.outdoor-page-content .col-md-6 {
  margin-bottom: 30px;
}
section.outdoor-page-content .col-md-6 img {
  width: 100%;
  height: auto;
}
section.outdoor-page-content ul {
  overflow: hidden;
  margin-bottom: 50px;
}
section.outdoor-page-content ul li {
  width: 16.66%;
  float: left;
  padding: 25px 20px;
  border: 1px solid #fff;
  text-align: center;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
section.outdoor-page-content ul li .img-wrapper {
  height: 90px;
  width: auto;
  position: relative;
  text-align: center;
}
section.outdoor-page-content ul li .img-wrapper img {
  display: block;
  position: absolute;
  margin: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  height: auto;
  width: auto;
}
section.outdoor-page-content ul li p {
  font-size: 15px;
  color: #636363;
  padding: 15px 0 0;
  border-top: 1px solid #e0e0e0;
}
section.outdoor-page-content ul li:hover {
  border: 1px solid #e0e0e0;
}
section.price-list {
  background: #4d0381;
  padding: 45px 0;
  text-align: center;
}
section.price-list a.img-wrapper {
  display: block;
  width: 70px;
  height: 70px;
  background: #e8c511;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 15px auto;
  overflow: hidden;
}
section.price-list a.img-wrapper img {
  display: block;
  position: absolute;
  margin: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  height: auto;
  width: auto;
}
section.price-list a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
section.price-list a:hover {
  text-decoration: underline;
}
section.contacts-page h1 {
  font-size: 36px;
  color: #242424;
  padding-bottom: 40px;
}
section.contacts-page p {
  font-size: 18px;
  color: #636363;
  line-height: 30px;
  padding: 15px 0 15px 50px;
  position: relative;
}
section.contacts-page p img {
  margin-right: 15px;
  position: absolute;
  top: 15px;
  left: 0;
}
section.contacts-page p.last img {
  top: 22px;
}
section.contacts-page form {
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}
section.contacts-page form input[type=text],
section.contacts-page form input[type=email] {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 15px;
  display: block;
  float: left;
  padding: 0 10px;
  line-height: 40px;
  font-size: 14px;
  border: 1px solid #c9c9c9;
  background: #fff;
  outline: 0;
}
section.contacts-page form textarea {
  width: 98%;
  height: 160px;
  resize: none;
  border: 1px solid #c9c9c9;
  background: #fff;
  display: block;
  margin: 0;
}
section.contacts-page form input[type=submit] {
  display: inline-block;
  line-height: 40px;
  padding: 0 40px;
  text-align: center;
  color: #000;
  background: #e8c511;
  font-size: 18px;
  border: none;
  margin-top: 12px;
  color: #fff;
}
section.news-page h1 {
  font-size: 36px;
  color: #242424;
  padding-bottom: 40px;
}
section.news-page .col-md-12 {
  padding-bottom: 30px;
}
section.news-page .col-md-12:nth-child(2n) .item .img-wrapper {
  float: right;
}
section.news-page .col-md-12:nth-child(2n) .item .news-content {
  float: left;
}
section.news-page .col-md-12 .item {
  margin: 0;
}
section.news-page .col-md-12 .item .img-wrapper {
  width: 36%;
  height: auto;
  float: left;
}
section.news-page .col-md-12 .item .img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}
section.news-page .col-md-12 .item .news-content {
  width: 64%;
  float: right;
  padding: 0 30px;
  text-align: left;
}
section.news-page .col-md-12 .item .news-content h3 {
  width: auto;
  display: inline-block;
  background: none;
  padding: 0 0 20px 0;
  min-width: auto;
  line-height: 20px;
  display: block;
  text-align: left;
}
section.news-page .col-md-12 .item .news-content h3:before {
  display: none;
}
section.news-page .col-md-12 .item .news-content h3:after {
  display: none;
}
section.news-page .col-md-12 .item .news-content h3 a {
  color: #d1b10f;
  font-size: 18px;
}
section.news-page .col-md-12 .item .news-content p {
  text-align: left;
  color: #000;
}
section.news-page .col-md-12 .item .news-content p a {
  color: #590184;
  display: inline-block;
  margin: 0 30px;
}
section.news-page ul.pagination li a {
  background: #590184;
  color: #fff;
  border: 1px solid #fff;
}
section.news-page ul.pagination li a:hover {
  background: #e8c511;
  color: #000;
  border: 1px solid #fff;
}
section.news-inner-page {
  padding: 30px 0;
}
section.news-inner-page .img-wrapper {
  margin: 0;
  padding-bottom: 30px;
}
section.news-inner-page .img-wrapper img {
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
}
section.news-inner-page span {
  display: inline-block;
  font-size: 14px;
  color: black;
  padding-left: 35px;
  font-family: "MyriadSetPro-Semibold";
  background: url(../img/png/calendar.png) 0 center no-repeat;
  line-height: 36px;
}
section.news-inner-page h1 {
  font-size: 30px;
  line-height: 40px;
  color: #d1b10f;
  padding-bottom: 40px;
}
section.news-inner-page p {
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
}
section.service-category {
  padding: 30px 0;
}
section.service-category .left-side {
  padding: 0 10% 0 0;
  border-right: 1px solid #e0e0e0;
}
section.service-category .left-side h1 {
  font-size: 30px;
  color: #000;
  padding-bottom: 30px;
}
section.service-category .left-side p {
  font-size: 14px;
  line-height: 24px;
}
section.service-category .right-side {
  padding: 0 0 0 10%;
  text-align: center;
}
section.service-category .right-side h2 {
  font-size: 24px;
  padding-bottom: 30px;
}
section.service-category .right-side p {
  color: #9d9d9d;
}
section.service-category .right-side ul {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  margin: 30px 0;
}
section.service-category .right-side ul li {
  width: 45%;
  float: left;
  overflow: hidden;
  margin-right: 5%;
}
section.service-category .right-side ul li img {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
section.service-category .right-side ul li p {
  font-size: 21px;
  color: #000;
  text-align: left;
  padding-bottom: 10px;
}
section.service-category .right-side ul li span {
  color: #9d9d9d;
  font-size: 21px;
  text-align: left;
  display: block;
}
section.service-category .right-side a {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  padding: 0 50px;
  background: #e8c511;
  display: inline-block;
}
section.service-category .right-side a:hover {
  text-decoration: none;
}
#myCarousel.service-category-slider {
  padding: 50px 0;
  background: none;
}
#myCarousel.service-category-slider ol.carousel-indicators {
  display: block;
  position: static;
  height: auto;
  background: #000;
  margin: 0;
  width: 100%;
  text-align: center;
}
#myCarousel.service-category-slider ol.carousel-indicators li {
  background: #000;
  display: inline-block;
  border: 0;
  float: none;
  opacity: 0.5;
}
#myCarousel.service-category-slider ol.carousel-indicators li.active {
  background: #000;
  opacity: 1;
}

#myCarousel.service-category-slider .item h3 {
  position: absolute;
  bottom: 30px;
  color: #fff;
  left: 30px;
  font-size: 36px;
  line-height: 48px;
}
section.portfolio-page #myTab {
  padding: 0;
  border: 0;
}
section.portfolio-page #myTab h1 {
  font-size: 25px;
  color: #242424;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
}
section.portfolio-page #myTab li {
  float: none;
  display: block;
  border: 0;
}
section.portfolio-page #myTab li a {
  border: 0;
  color: #7b7b7b;
  font-size: 16px;
  padding: 10px 0;
}
section.portfolio-page #myTab li a:hover {
  background: none;
}
section.portfolio-page #myTab li.active a {
  color: #242424;
}
section.portfolio-page #myTab li.active a:after {
  display: inline-block;
  content: '>';
  margin: 0 20px;
}
section.portfolio-page .tab-content .tab-pane ul {
  overflow: hidden;
}
section.portfolio-page .tab-content .tab-pane ul li {
  float: left;
  overflow: hidden;
}
section.portfolio-page .tab-content .tab-pane ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
section.portfolio-page .tab-content .tab-pane ul li a img {
  display: block;
  position: absolute;
  margin: auto;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  height: auto;
  width: auto;
  min-width: 110%;
  min-height: 110%;
}
section.portfolio-page .tab-content .tab-pane ul li a:before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8) url(../img/portfolio/plus-icon.png) center no-repeat;
  z-index: -1;
  opacity: 0;
}
section.portfolio-page .tab-content .tab-pane ul li a:hover:before {
  opacity: 1;
  z-index: 1;
}

.law_title {
    font-size: 30px;
    line-height: 40px;
    color: #d1b10f;
    padding-bottom: 40px;
}

.law_text {
    font-size: 14px;
    line-height: 24px;
}


/*rasul style*/


#myCarousel .carousel-inner .item img {
  width: 100%;
  height:100%;
}

#myCarousel.service-category-slider .item {
  padding: 0;
  max-height:550px;
}