
@myrText: "MyriadSetPro-Text";
@myrBold: "MyriadSetPro-Semibold";
@myrThin: "MyriadSetPro-Thin";

a {
	-webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}


body {font-family: @myrText;}

/**********************************************
               HEADER
**********************************************/

header { background: #590184;font-family: @myrText;
	h1 {
		a { display: block;overflow: hidden;padding: 12px 0;
			img { display: block;float: left;margin-right: 22px;}
			span { display: block;float: right;text-transform: uppercase;color: #fff;font-size: 15px;line-height: 20px;padding: 10px 0;}
		}
	}
	a.pull-right { font-size: 18px;color: #fff;line-height: 85px !important;color: #fff;padding-left: 40px;background: url(../img/png/mailto.png) 0 center no-repeat;}
}

/**********************************************
               nav
**********************************************/

nav.navbar-default { padding: 0;background: #fff;margin: 0;border:0;
	.collapse.navbar-collapse { padding: 0;
		ul.navbar-nav {padding: 12px 0;float: none;
			li {
				a { font-size: 16px;padding: 15px;text-transform: uppercase;color: #000;
					&:hover { color: #590184;}
				}
			}
			a.order-btn { margin: 0;padding: 15px 30px;background: #e8c511;display: inline-block;float: right;color: #fff;border-bottom: 1px solid #c5a70e;border-top: 1px solid #e8c511;border-right: 1px solid #c5a70e;border-left: 1px solid #e8c511;
				&:hover { text-decoration: none;border-bottom: 1px solid #e8c511;border-top: 1px solid #c5a70e;border-right: 1px solid #e8c511;border-left: 1px solid #c5a70e;}
			}
		}
	}
}

/**********************************************
               myCarousel
**********************************************/

#myCarousel { background: #e0e0e0;padding: 40px 0;
	ol.carousel-indicators { bottom: 40px;text-align: center;overflow: hidden;
		li { width: 16.6%;height: 70px;display: block;margin: 0;overflow: hidden;position: relative;float: left;border-radius: 0;border-right: 0;background: #fff;
			img { position: absolute;display: block;width: auto;height: auto;margin: auto;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;opacity: 0.7;width: 75%;height: auto;
			}
			span { display: block;font-size: 15px;color: #636363;}
			&:last-child { border-right: 1px solid #fff;}
			&.active { background: #e8c511;
				img { opacity: 1;}
			}
		}
	}
	.item { padding-bottom: 120px;padding-top: 60px;
		h2 { font-size: 36px;text-align: center;font-family: @myrText;padding: 15px 0;position: relative;
			&:after { content: '';display: inline-block;width: 80px;height: 2px;background: #d0cfcf;position: absolute;bottom: 0;left: 50%;margin-left: -40px;}
		}
		p { line-height: 20px;font-size: 14px;color: #565656;text-align: center;margin-top: 20px;}
	}
	.carousel-control { background: none;width: 10%;opacity: 1;
		&.left {left: 10%;background: url(../img/slider/icons/left.png) 0 center no-repeat;}
		&.right {right: 10%;background: url(../img/slider/icons/right.png) 100% center no-repeat;}
	}
}

/**********************************************
               video
**********************************************/

section.video { padding-top: 65px;
	h3 { text-align: center;font-size: 36px;color: #000;margin-bottom: 30px;}
	p { font-size: 14px;line-height: 24px;color: #7b7b7b;text-align: center;}
	.video-wrapper { height: 385px;background: url(../img/png/video-bg.png) center no-repeat;width: 677px;margin: 65px auto 0 auto;position: relative;overflow: hidden;
		iframe { position: absolute;top: 35px;left: 163px;}
	}
}

/**********************************************
               about-us
**********************************************/

section.about-us { padding: 80px 0;background: url(../img/jpeg/team.jpg) center no-repeat;position: relative;
	.bg { width: 50%;position: absolute;top: 0;bottom: 0;left: 0;background: #590184;opacity: 0.95;}
	img { margin-bottom: 50px;}
	h4 { font-size: 30px;color: #fff;font-family: @myrBold;margin-bottom: 20px;}
	p { font-size: 18px;color: #fff;line-height: 24px;margin-bottom: 40px;}
	a { color: #000;padding: 0 60px 0 20px;line-height: 40px;display: inline-block;font-size: 18px;background: #e8c511 url(../img/png/arrow.png) 84% center no-repeat;}
}

/**********************************************
               offer
**********************************************/

section.offer {
	h3 { font-size: 48px;color: #000;text-align: center;margin: 80px 0;}
	ul { overflow: hidden;
		li { float: left;width: 49%;overflow: hidden;margin-right: 2%;margin-bottom: 50px;
			img { float: left;margin: 0 30px 100px 0;}
			h5 { font-size: 24px;color: #000;font-family: @myrBold;margin-bottom: 20px;}
			p { font-size: 14px;color: #7b7b7b;line-height: 30px;}
			&:nth-child(2n) { margin-right: 0;}
		}
	}
}

/**********************************************
               answer
**********************************************/

section.answer { padding: 80px 0;background: url(../img/jpeg/answer.jpg) center no-repeat;position: relative;
	.bg { width: 50%;position: absolute;top: 0;bottom: 0;right: 0;background: #590184;opacity: 0.95;}
	img { margin-bottom: 50px;}
	h4 { font-size: 30px;color: #fff;font-family: @myrBold;margin-bottom: 20px;}
	p { font-size: 18px;color: #fff;line-height: 30px;margin-bottom: 40px;}
	a { color: #000;padding: 0 60px 0 20px;line-height: 40px;display: inline-block;font-size: 18px;background: #e8c511 url(../img/png/arrow.png) 84% center no-repeat;}
}

/**********************************************
               clients
**********************************************/

section.clients { background: #e0e0e0;padding-bottom: 30px;
	h3 { font-size: 48px;color: #272727;text-align: center;margin: 65px 0;}
	ul { overflow: hidden;
		li { width: 25%;float: left;text-align: center;min-height: 86px;margin-bottom: 10px;
			a { display: block;font-size: 0;width: 100%;height: 100%;position: relative;min-height: 86px;
				img { position: absolute;display: block;width: auto;height: auto;margin: auto;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;filter: gray;-webkit-filter: grayscale(100%);	-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
				&:hover {
					img { filter: none;-webkit-filter: grayscale(0%);}
				}
			}
		}
	}
}

/**********************************************
               reviews
**********************************************/

section.reviews { background: url(../img/jpeg/reviews.jpg) center no-repeat;padding: 30px 0;
	h3 { font-size: 36px;color: #fff;text-align: center;margin: 10px 0 30px 0;}
	#myCarousel1 { width: 70%;margin: 0 auto;background: #fff;
		.carousel-control { background: none;width: 10%;opacity: 1;
			&.left {left: 10%;background: url(../img/slider/icons/left.png) 0 center no-repeat;}
			&.right {right: 10%;background: url(../img/slider/icons/right.png) 100% center no-repeat;}
		}
		.item {
			h5 { font-size: 18px;color: #272727;font-family: @myrBold;text-align: center;padding-top: 50px;}
			span { font-size: 14px;color: #979797;font-family: @myrBold;text-align: center;display: block;line-height: 30px;padding-bottom: 10px;position: relative;
				&:after { position: absolute;bottom: 0;content: '';width: 30px;height: 4px;background: #cecece;left: 50%;margin-left: -15px;}
			}
			p { font: 18px;line-height: 30px;color: #7b7b7b;text-align: center;padding-bottom: 30px;padding-top: 20px;}
		}
	}
}

/**********************************************
               news
**********************************************/

section.news { text-align: center;padding: 80px 0 35px 0;
	h3 { line-height: 50px;display: inline-block;padding: 0 70px;position: relative;background: #4d0371;color: #fff;font-size: 36px;min-width: 250px;
		&:after {width: 0;height: 0;border-top: 25px solid transparent;border-right: 18px solid #fff;border-bottom: 25px solid transparent;position: absolute;top: 0;bottom: 0;right: 0;content: '';}
		&:before {width: 0;height: 0;border-top: 25px solid transparent;border-left: 18px solid #fff;border-bottom: 25px solid transparent;position: absolute;top: 0;bottom: 0;left: 0;content: '';}
		&.yellow { background: #e8c511;}
	}
	.item { margin-top: 50px;
		span { display: inline-block;font-size: 14px;color: #c2bdc4;padding-left: 35px;font-family: @myrBold;background: url(../img/png/calendar.png) 0 center no-repeat;line-height: 36px;}
		h6 { font-size: 18px;padding-bottom: 20px;font-family: @myrBold;
			a { color: #d1b10f;text-decoration: underline;}
		}
		p { font-size: 14px;color: #7b7b7b;line-height: 20px;font-family: @myrBold;}
	}
	a.load-more { display: inline-block;margin-top: 30px;line-height: 36px;padding: 0 25px;background: #e8c511;color: #fff;text-decoration: none;}
}

/**********************************************
               social
**********************************************/

section.social { background: #e8c511;padding: 35px 0;
	.col-md-6 { text-align: right;overflow: hidden;padding-top: 30px;padding-bottom: 30px;position: relative;
		p { font-size: 26px;line-height: 40px;color: #000;}
		h5 { font-size: 36px;line-height: 40px;font-family: @myrBold;color: #000;}
		&:before { content: '';position: absolute;top: 0;left: 0;background: url(../img/png/social-icon.png) 0 center no-repeat;width: 94px;height: 124px;}
	}
	ul.col-md-6 { padding-top: 0;padding-bottom: 0;
		li {float: left;margin-right: 20px;padding-top: 30px;padding-bottom: 30px;
			&:last-child { margin-right: 0;}
		}
		&:before { display: none;}
	}
}

/**********************************************
               footer
**********************************************/

footer { padding: 70px 0;
	a.logo { display: block;font-size: 0;text-align: center;margin-bottom: 20px;
		img {display: block;margin: auto;filter: gray;-webkit-filter: grayscale(100%);	-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;}
		&:hover {
			img { filter: none;-webkit-filter: grayscale(0%);}
		}
	}
	p { font-size: 12px;line-height: 24px;margin-bottom: 30px;
		b { font-weight: 700;}
	}
	h6 { line-height: 43px;width: 50%;
		a { display: block;font-size: 0;float: right;line-height: auto;
			img {}
		}
	}
	h4 { font-size: 30px;color: #000;margin-bottom: 25px;}
	span { display: block;font-size: 18px;line-height: 30px;padding-bottom: 10px;}
	.middle {
		p { font-size: 18px;line-height: 30px;margin-top: 20px;}
		span {
			img {margin-right: 10px;}
		}
	}
	.right-side {
		span { padding-left: 0;font-size: 16px;line-height: 30px;font-family: @myrBold;color: #cbcbcb;}
	}
	form { overflow: hidden;text-align: center;margin-top: 20px;
		input[type=text], input[type=email] { width: 48%;margin-right: 2%;margin-bottom: 15px;display: block;float: left;padding: 0 10px;line-height: 40px;font-size: 14px;border: none;background: #f3f3f3;outline: 0;}
		textarea { width: 98%;height: 160px;resize: none;border: none;background: #f3f3f3;}
		input[type=submit] {display: inline-block;line-height: 40px;padding: 0 40px;text-align: center;color: #000;background: #e8c511;font-size: 18px;border: none;margin-top: 12px;}
	}
}

// bread crumbs

.breadcrumbs { padding: 10px 0;
	ul { overflow: hidden;
		li { font-size: 12px;color: #590184;float: left;padding-right: 20px;background: url(../img/png/outdoor-page/direction.png) 86% center no-repeat;
			a { color: #696666;}
			&:last-child { background: none;}
		}
	}
}

// outdoor-page-content

section.outdoor-page-content {
	h1 { padding: 30px 35px;font-size: 48px;}
	h2 { padding: 30px 25px 30px 35px;font-size: 16px;color: #242424;background: #f2f2f2;font-family: @myrBold;line-height: 24px;}
	p { font-size: 16px;line-height: 24px;padding: 0 35px 20px 35px;}
	.col-md-6 { margin-bottom: 30px;
		img {width: 100%;height: auto;}
	}
	ul { overflow: hidden;margin-bottom: 50px;
		li { width: 16.66%;float: left;padding: 25px 20px;border: 1px solid #fff;text-align: center;-webkit-transition: all .4s;-moz-transition: all .4s;transition: all .4s;
			.img-wrapper { height: 90px;width: auto;position: relative;text-align: center;
				img {  display: block;position: absolute;margin: auto;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;height: auto;width: auto;}
			}
			p { font-size: 15px;color: #636363;padding: 15px 0 0;border-top: 1px solid #e0e0e0;}
			&:hover { border: 1px solid #e0e0e0;}
		}
	}
}

// price-list

section.price-list { background: #4d0381;padding: 45px 0;text-align: center;
	a.img-wrapper { display: block;width: 70px;height: 70px;background: #e8c511;border-radius: 50%;position: relative;margin: 0 auto 15px auto;overflow: hidden;
		img { display: block;position: absolute;margin: auto;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;height: auto;width: auto;}
	}
	a {text-decoration: none;color: #fff;font-size: 18px;
		&:hover { text-decoration: underline;}
	}
}

// contacts page

section.contacts-page {
	h1 { font-size: 36px;color: #242424;padding-bottom: 40px;}
	p { font-size: 18px;color: #636363;line-height: 30px;padding: 15px 0 15px 50px;position: relative;
		img { margin-right: 15px;position: absolute;top: 15px;left: 0;}
	}
	p.last {
		img { top: 22px;}
	}
	form { overflow: hidden;text-align: center;margin-top: 20px;
		input[type=text], input[type=email] { width: 48%;margin-right: 2%;margin-bottom: 15px;display: block;float: left;padding: 0 10px;line-height: 40px;font-size: 14px;border: 1px solid #c9c9c9;background: #fff;outline: 0;}
		textarea { width: 98%;height: 160px;resize: none;border: 1px solid #c9c9c9;background: #fff;display: block;margin: 0;}
		input[type=submit] {display: inline-block;line-height: 40px;padding: 0 40px;text-align: center;color: #000;background: #e8c511;font-size: 18px;border: none;margin-top: 12px;color: #fff;}
	}
}

// news-page

section.news-page {
	h1 { font-size: 36px;color: #242424;padding-bottom: 40px;}
	.col-md-12 { padding-bottom: 30px;
		&:nth-child(2n) {
			.item {
				.img-wrapper {float: right;}
				.news-content {float: left;}
			}
		}
		.item { margin: 0;
			.img-wrapper { width: 36%;height: auto;float: left;
				img { display: block;width: 100%;height: auto;}
			}
			.news-content	{ width: 64%;float: right;padding: 0 30px;text-align: left;
				span {}
				h3 { width: auto;display: inline-block;background: none;padding: 0 0 20px 0;min-width: auto;line-height: 20px;display: block;text-align: left;
					&:before { display: none;}
					&:after { display: none;}
					a { color: #d1b10f;font-size: 18px;}
				}
				p { text-align: left;color: #000;
					a {color: #590184;display: inline-block;margin: 0 30px;}
				}
			}
		}
	}
	ul.pagination {
		li {
			a { background: #590184;color: #fff;border: 1px solid #fff;
				&:hover {
					background: #e8c511;color: #000;border: 1px solid #fff;
				}
			}
		}
	}
}

// news-inner-page

section.news-inner-page { padding: 30px 0;
	.img-wrapper { margin: 0;padding-bottom: 30px;
		img { margin: 0;display: block;width: 100%;height: auto;}
	}
	span { display: inline-block;font-size: 14px;color: #c2bdc4;padding-left: 35px;font-family: "MyriadSetPro-Semibold";background: url(../img/png/calendar.png) 0 center no-repeat;line-height: 36px;}
	h1 { font-size: 30px;line-height: 40px;color: #d1b10f;padding-bottom: 40px;}
	p { padding-bottom: 35px;font-size: 14px;line-height: 24px;}
}

// service-category

section.service-category { padding: 30px 0;
	.left-side { padding: 0 10% 0 0;border-right: 1px solid #e0e0e0;
		h1 { font-size: 30px;color: #000;padding-bottom: 30px;}
		p { font-size: 14px;line-height: 24px;}
	}
	.right-side { padding: 0 0 0 10%;text-align: center;
		h2 { font-size: 24px;padding-bottom: 30px;}
		p { color: #9d9d9d;}
		ul { width: 90%;margin: 0 auto;overflow: hidden;text-align: center;margin: 30px 0;
			li { width: 45%;float: left;overflow: hidden;margin-right: 5%;
				img { float: left;margin-right: 10px;margin-bottom: 20px;}
				p { font-size: 21px;color: #000;text-align: left;padding-bottom: 10px;}
				span { color: #9d9d9d;font-size: 21px;text-align: left;display: block;}
			}
		}
		a { font-size: 18px;font-weight: 700;color: #fff;line-height: 50px;padding: 0 50px;background: #e8c511;display: inline-block;
			&:hover { text-decoration: none;}
		}
	}
}

// service-category-slider

#myCarousel.service-category-slider { padding: 50px 0;background: none;
	ol.carousel-indicators { display: block;position: static;height: auto;background: #000;margin: 0;width: 100%;text-align: center;
		li { background: #000;display: inline-block;border: 0;float: none;opacity: 0.5;
			&.active { background: #000;opacity: 1;}
		}
	}
	.item { padding: 0;
		h3 { position: absolute;bottom: 30px;color: #fff;left: 30px;font-size: 36px;line-height: 48px;}

	}
}

// portfolio-page

section.portfolio-page {
	#myTab { padding: 0;border:0;
		h1 { font-size: 25px;color: #242424;padding: 15px 0;border-bottom: 1px solid #e0e0e0;margin-bottom: 15px;}
		li { float: none;display: block;border: 0;
			a { border: 0;color: #7b7b7b;font-size: 16px;padding: 10px 0;
				&:hover { background: none;}
			}
			&.active {
				a { color: #242424;
					&:after { display: inline-block;content: '>';margin: 0 20px;}
				}
			}
		}
	}
	.tab-content {
		.tab-pane {
			ul { overflow: hidden;
				li { float: left;overflow: hidden;
					a { display: block;position: relative;width: 100%;height: 100%;
						img { display: block;position: absolute;margin: auto;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;height: auto;width: auto;min-width: 110%;min-height: 110%;}
						&:before { width: 100%;height: 100%;content: '';display: block;position: absolute;bottom: 0;top: 0;left: 0;right: 0;background: rgba(0,0,0,0.8) url(../img/portfolio/plus-icon.png) center no-repeat;z-index: -1;opacity: 0;
							}
						&:hover {
							&:before { opacity: 1;z-index: 1;}
						}
					}
				}
			}
		}
	}
}