{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Блог" "blogs_list" %}
    {% breadcrumb blog.title "blogs_detail" %}


{% endblock %}



{% block content %}
    {% render_breadcrumbs 'bread.html' %}
<section class="news news-inner-page">
   <div class="container">
      <div class="row">
                 <div class="col-md-12">
            <div class="img-wrapper">
               <img src="{{ blog.image.url }}" height="272" width="1170">
            </div>
            <div class="news-content">
               <span>{{ blog.created }}</span>
               <h1>{{ blog.title }}</h1>
               <p>{{ blog.text|safe }}</p>

            </div>
         </div>

      </div>

</div>
</section>
{% endblock %}