{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Блог" "blogs_list" %}

{% endblock %}

{% block content %}
    {% render_breadcrumbs 'bread.html' %}
<section class="news news-page">
   <div class="container">
      <div class="row">

         <h1>Блог</h1>

 {% if blog %}
     {% for item in blog %}
         <div class="col-md-12">
            <div class="item">
               <div class="img-wrapper">
                  <img src="{{ item.image.url }}">
               </div>
               <div class="news-content">
                  <span>{{ item.created }}</span>
                  <h3><a href="{% url 'armada:blogs_detail' item.slug%}">{{ item.title|title }}</a></h3>
                  <p>{{ item.text|safe|truncatechars_html:760 }}<a href="{% url 'armada:blogs_detail' item.slug%}">Читать далее...</a></p>
               </div>
            </div>
         </div>
    {% endfor %}
    {% else %}
    <p>Нет записей в блоге</p>
{% endif %}

         <ul class="pagination">
                {% for page in blog.paginator.page_range %}
                {% if page == blog.number %}
               <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
               <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>

      </div>
   </div>
</section>
{% endblock %}