{% extends 'services/index.html' %}

{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb cats.title "Услуги" "detail" %}
{% endblock %}




{% block content %}
{% render_breadcrumbs 'bread.html'%}

<section class="service-category">
   <div class="container">
      <div class="row">
        {% if cats %}
         <div class="col-md-6 left-side">
            <h1>{{ cats.title|safe }}</h1>
            <p>{{ cats.text|safe }}<p>
         </div>
         <div class="col-md-6 right-side">
            <h2>{{ cats.tdc|safe }}</h2>
             <p>Скроки и стоимость работ указаны не точные и могут изменяться в как в положительную сторону, так и в отрицательную</p>
             <ul>
               <li>
                  <img src="{%static 'static/img/png/time.png'%}" height="50" width="50">
                  <p>Время:</p>
                  <span>{{ cats.time }}</span>
               </li>
               <li>
                  <img src="{%static 'static/img/png/financa.png'%}" height="50" width="50">
                  <p>Стоимость:</p>
                  <span>{{ cats.cost }}</span>
               </li>
            </ul>
            <a href="" data-toggle="modal" data-target="#myModal">Заказать {{ cats.title }}</a>
         </div>
        {% endif  %}
      </div>
   </div>
</section>



<!--
      slider block
-->
{% if images %}
<div id="myCarousel" class="carousel service-category-slider slide" data-ride="carousel">
   <div class="container">

      <div class="carousel-inner" role="listbox">

          {% for image in images %}
         <div class="item {% if forloop.counter == 1 %} active{% endif %}">
            <h3>{{ image.title|title }}</h3>
            <img src="{{ image.image.url }}" alt="">
         </div>
          {% endfor %}

      </div><!-- carousel-inner end -->

      <ol class="carousel-indicators">
      {% for image in images %}
         <li data-target="#myCarousel" data-slide-to="{{ forloop.counter|add:'-1' }}" {% if forloop.counter >= 1 %}class="active">{% endif %}<img src="{{ image.image.url }}"></li>
      {% endfor %}
      </ol><!-- Indicators end -->

   </div>

</div><!-- carousel end -->
{% endif %}

    <section class="offer">
   <div class="container">
      <div class="row">

         <h3>Мы знаем, что предложить!</h3>
         <ul>
             {% if offers %}
                 {% for offer in offers %}
            <li>
               <img src="{{ offer.image.url }}" height="100%" width="58" alt="">
               <h5>{{ offer.title }}</h5>
               <p>{{ offer.text }}</p>
            </li>
                 {% endfor%}

         {% else %}
                <li>
               <p>Нет предложений</p>
            </li>
         </ul>
        {% endif %}
      </div>
   </div>
</section>


   </div>

    <section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>
{% endblock %}





