{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

    {{ block.super }}
    {% breadcrumb "Услуги" "index_services" %}

{% endblock %}



{% block content %}

    {% render_breadcrumbs 'bread.html'%}


<section class="outdoor-page-content">
   <div class="container">
      <div class="row">
        {% if abouts %}
            {% for a in abouts %}
         <div class="col-md-6">
            <div class="row">
               <img src="{{ a.image.url }}" alt="" title="">
            </div>
         </div>
         <div class="col-md-5">
            <div class="row">
               <h1>{{ a.title }}</h1>
               <p>{{ a.text | safe }}</p>
               <h2>{{ a.bold_text | safe }}</h2>
            </div>
         </div>

         <div class="clear"></div>
        {% if cats %}
            {% for cat in cats %}
                <ul>
                   <li>
                      <div class="img-wrapper">
                      <img src="{{ cat.icon.url }}" alt=""></div>
                      <p><a href= "{% url 'services:detail' cat.slug %}">{{ cat.title }}</a></p>
                   </li>
                </ul>
            {% endfor %}
        {% endif %}

            {% endfor %}
      {% endif %}
      </div>
   </div>


</section>

<!--
  price-list block
-->

{% if abouts %}
    {% for a in abouts %}
<section class="price-list">
               <div class="container">
                  <div class="row">
                     <a href="{{ a.attach.url }}" class="img-wrapper"><img src="{{ a.attach_img.url }}"></a>
                     <a href="{{ a.attach.url }}"><span>Скайте прайс лист</span></a>
                  </div>
               </div>
</section>
 {% endfor %}
      {% endif %}



    <section class="offer">
   <div class="container">
      <div class="row">

         <h3>Мы знаем, что предложить!</h3>
         <ul>
             {% if offers %}
                 {% for offer in offers %}
            <li>
               <img src="{{ offer.image.url }}" height="100%" width="58" alt="">
               <h5>{{ offer.title }}</h5>
               <p>{{ offer.text }}</p>
            </li>
                 {% endfor%}

         {% else %}
                <li>
               <p>Нет предложений</p>
            </li>
         </ul>
        {% endif %}
      </div>
   </div>
</section>


   </div>

    <section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>

{% endblock %}
