{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Магазин" "index_law" %}

{% endblock %}


{% block content %}
    {% render_breadcrumbs 'bread.html' %}

<section class="simple simple-inner-page">
   <div class="container">
      <div class="row">
{% if article %}

         <div class="col-md-12">
            <div class="img-wrapper">
            </div>
             {% for item in article %}
            <div class="news-content">
                <img src="{{ item.image.url }}" width="340" height="280">
               <p>{{ item.title }}</p>
            </div><br>
            {% endfor %}
         </div>

      </div>

{% endif %}
</div>
</section>
{% endblock %}