{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Законодательство" "index_law" %}

{% endblock %}



{% block content %}
    {% render_breadcrumbs 'bread.html' %}

<section class="simple simple-inner-page">
   <div class="container">
      <div class="row">
{% if article %}

         <div class="col-md-12">
            <div class="img-wrapper">
            </div>
             {% for item in article %}
            <div class="news-content">
               <h1 class="law_title">{{ item.title }}</h1>
               <p class="law_text">{{ item.text|safe }}</p>
            </div>
                {% endfor %}
         </div>

      </div>

{% endif %}
</div>
</section>

    <section class="offer">
   <div class="container">
      <div class="row">

         <h3>Мы знаем, что предложить!</h3>
         <ul>
             {% if offers %}
                 {% for offer in offers %}
            <li>
               <img src="{{ offer.image.url }}" height="100%" width="58" alt="">
               <h5>{{ offer.title }}</h5>
               <p>{{ offer.text }}</p>
            </li>
                 {% endfor%}

         {% else %}
                <li>
               <p>Нет предложений</p>
            </li>
         </ul>
        {% endif %}
      </div>
   </div>
</section>


   </div>

    <section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>
{% endblock %}