{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Новости" "news_list" %}
    {% breadcrumb news.title "news_detail" %}


{% endblock %}




{% block content %}
    {% render_breadcrumbs 'bread.html' %}

<section class="news news-inner-page">
   <div class="container">
      <div class="row">
{% if news %}

         <div class="col-md-12">
            <div class="img-wrapper">
               <img src="{{ news.image.url }}" height="272" width="1170">
            </div>
            <div class="news-content">
               <span>{{ news.created }}</span>
               <h1>{{ news.title }}</h1>
               <p>{{ news.text|safe }}</p>
            </div>
         </div>

      </div>

{% endif %}
</div>

</section>
    <section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>
{% endblock %}

