{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
    {% breadcrumb "Новости" "news_list" %}

{% endblock %}

{% block content %}
    {% render_breadcrumbs 'bread.html' %}
<section class="news news-page">
   <div class="container">
      <div class="row">

         <h1>Новости</h1>

{% if news %}
    {% for new in news %}
         <div class="col-md-12">
            <div class="item">
               <div class="img-wrapper">
                  <img src="{{ new.image.url }}">
               </div>
               <div class="news-content">
                  <span>{{ new.created }}</span>
                  <h3><a href="{% url 'armada:news_detail' new.slug%}">{{ new.title|safe }}</a></h3>
                  <p>{{ new.text|safe }}<a href="{% url 'armada:news_detail' new.slug%}">Читать далее...</a></p>
               </div>
            </div>
         </div>
    {% endfor %}
    {% else %}
    <p>Нет записей в блоге</p>
{% endif %}


{#         <ul class="pagination">#}
{#            <li><a href="#">1</a></li>#}
{#            <li><a href="#">2</a></li>#}
{#            <li><a href="#">3</a></li>#}
{#            <li><a href="#">4</a></li>#}
{#         </ul>#}

        <ul class="pagination">
                {% for page in news.paginator.page_range %}
                {% if page == news.number %}
               <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
               <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
      </div>
   </div>

<section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>
</section>

{% endblock %}


