<!DOCTYPE html>
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "/" %}
{% endblock %}
<html lang="en">
<head>
    {% block meta %}
    {% include 'meta.html' %}
    {% endblock %}
</head>
<body>
    {% include 'header.html' %}
    {% block content %}
        {% render_breadcrumbs 'bread.html'%}

    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>