<div class="breadcrumbs">
   <div class="container">
         <ul>
         {% for url, label in breadcrumbs %}
            <li>{% ifnotequal forloop.counter breadcrumbs_total %}<a href="{{ url }}">{{ label|safe }}</a></li>
             {% else %}
             {{ label|safe }}
              {% endifnotequal %}
         {% endfor %}
         </ul>
   </div>
</div>