{% extends 'base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Контакты" "contact" %}
{% endblock %}



{% block content %}
    {% render_breadcrumbs 'bread.html' %}


    <section class="contacts-page">
   <div class="container">
      <div class="row">

         <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.925467712579!2d74.60812695129526!3d42.853306911698624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDUxJzExLjkiTiA3NMKwMzYnMzcuMiJF!5e0!3m2!1sru!2sru!4v1455712420511" width="100%" height="325" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>

         <div class="col-md-5">
            <h1>Контакты</h1>
            <p><img src="{% static 'static/img/png/contacts-page/1.png'%}" height="30" width="22" alt=""><span>Байтик- Батыра 23а</span></p>
            <p><img src="{%static 'static/img/png/contacts-page/2.png' %}" height="29" width="16" alt=""><span>0312 475 107,&emsp; 0312 477 594<br>
0553 577 575<br>
0700 477 594&emsp; 0703 756 525<br>
0771 360 905</span></p>
            <p class="last"><img src="{%static 'static/img/png/contacts-page/3.png'%}" height="19" width="26" alt=""><span>armada.kg@gmail.com</span></p>

            <form>
               <input type="text" placeholder="Имя">
               <input type="email" placeholder="E-mail">
               <textarea></textarea>
               <input type="submit" value="Отправить">
            </form>
         </div>


      </div>

       <section class="offer">
   <div class="container">
      <div class="row">

         <h3>Мы знаем, что предложить!</h3>
         <ul>
             {% if offers %}
                 {% for offer in offers %}
            <li>
               <img src="{{ offer.image.url }}" height="100%" width="58" alt="">
               <h5>{{ offer.title }}</h5>
               <p>{{ offer.text }}</p>
            </li>
                 {% endfor%}

         {% else %}
                <li>
               <p>Нет предложений</p>
            </li>
         </ul>
        {% endif %}
      </div>
   </div>
</section>


   </div>

    <section class="social">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p>Будьте в курсе всех событий и новостей</p>
            <h5>Подписывайтесь!</h5>
         </div>
          {% if socials %}
         <ul class="col-md-6">
            {% for social in socials %}
                <li><a href="{{ social.url }}"><img src="{{ social.image.url }}" height="70" width="70" alt=""></a></li>
             {% endfor %}
         </ul>
          {% endif %}
      </div>
   </div>
</section>
</section>



{% endblock %}