<footer>
    {% load staticfiles %}
   <div class="container">
      <div class="row">

         <div class="col-md-4">
             {% if finfo %}
            <a href="/" class="logo"><img src="{{ finfo.image.url }}" height="107" width="411"></a>
            <p>{{ finfo.text| safe }}</p>
            <p>CP © 2012-{{ finfo.created}} Armada.kg. Все права защищены.</p>
            <h6>{{ finfo.created_by }}<a href="http://googstudio.com" target="_blank"><img src="{{ finfo.logo.url }}" height="43" width="81"></a></h6>
            {% else %}
                 Нет записи!
            {% endif %}
         </div>

         <div class="col-md-4 middle">
            <h4>Контакты</h4>
            {% if contacts %}
                {% for contact in contacts %}
                    <span class="contacts-icon"><img src="{{ contact.image.url }}">{{ contact.phone }}</span>
                {% endfor %}
            {% endif %}
         {% if addresses %}
            <p>
             {% for address in addresses %}
                {% if forloop.counter == 1 %}
                    {{ address.address }}<br>
                 {% else %}
                    {{ address.address }}
                 {% endif %}
             {% endfor %}
         {% endif %}

         </p>
         </div>
         <div class="col-md-4 right-side">
            <h4>Свяжитесь с нами</h4>
            <span>Мы ответим на любые интерисующие вопросы!</span>
            <form id="feedback" action="/feedback/send">
                {% csrf_token %}
               <input type="text" placeholder="Имя" name="name">
               <input type="email" placeholder="Email" name="email">
               <textarea name="text"></textarea>
               <input type="submit" value="Отправить" id="send">
            </form>
         </div>
        <script>
            $(function(){
                $('#send').click(function(e){
                    e.preventDefault()
                    $.ajax({
                        url : '/feedback/send',
                        method : 'post',
                        data : $('form#feedback').serialize(),
                        success : function(res){
                            alert(res)
                        }
                    });
                });
            })
        </script>
      </div>
   </div>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Оставьте заявку и наш менеджер свяжется с вами!</h4>
      </div>
      <div class="modal-body">
        <form id="call" action="call/send">
            {% csrf_token %}
           <input type="text" name="name" placeholder="Введите свое Имя">
           <input type="text" name="phone" placeholder="Введите свой телефон">
            {% if cats %}
            <input type="text" name="service" value="{{ cats.title }}">
            {% endif %}
           <div class="clearfix"></div>
           <input type="submit" value="Заказать звонок" id="send1">
        </form>
      </div>
    <script>
       $(function(){
    $('#send1').click(function(e){
        e.preventDefault();
        $.ajax({
            data: $('form').serialize(),
            url: '/feedback/call/',
            method: 'post',
            success: function(res){
                alert(res)
            }
        })
    })
});
        </script>
    </div>
  </div>
</div>
