<!--
      header block
-->
{% load staticfiles %}
<header>
   <div class="container">
      <div class="row">
					
				<div class="col-sm-6 col-xs-12">
         	<div class="navbar-header">
           	 <h1><a href="/" class="logo" alt="Armada" title="Armada"><img src="{% static 'static/logo.png' %}" height="61" width="58" alt="Armada" title="Armada"><span>Рекламно - производственная<br>компания</span></a></h1><!-- logo -->
         	</div><!-- .navbar-header end -->
				</div>

				<div class="col-sm-6">
         <a href="mailto:armada.kg@gmail.com" alt="Напишите нам" title="Напишите нам" class="pull-right">armada.kg@gmail.com</a>
				</div>
      </div><!-- .row end -->
   </div><!-- .container end -->
</header>

<!--
      nav block
-->

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="row">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div><!-- .navbar-header end -->

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav b-nav_1">
					<li><a href="/">Главная</a></li>
					<li><a href="{% url 'services:index_services' %}">УСЛУГИ</a></li>
					<li><a href="{% url 'shop:index_shop' %}">МАГАЗИН</a></li>
                    <li><a href="{% url 'sitecreate:index_site' %}">СОЗДАНИЕ САЙТОВ</a></li>
                    <li><a href="{% url 'portfolio:index_portfolio' %}">Портфолио</a></li>
                    <li><a href="{% url 'law:index_law' %}">Законодательство</a></li>
                    <li><a href="{% url 'armada:blogs_list' %}">Блог</a></li>
                    <li><a href="{% url 'armada:news_list' %}">Новости</a></li>
                    <li><a href="{% url 'armada:contact' %}">Контакты</a></li>
                    <a href="" class="order-btn" data-toggle="modal" data-target="#myModal">Заказать звонок</a>
				</ul><!-- ul.nav end -->
			</div><!--.collapse end -->

		</div><!-- .row end -->
	</div><!-- .container end -->
</nav>