{% load staticfiles %}
    {% if lmeta %}
        {% for item in lmeta %}
    <meta name="title" content="{{ item.meta_title }}">
    <meta name="description" content="{{ item.meta_desc }}">
    <meta name="keywords" content="{{ item.meta_key }}" >
        {% endfor %}
    {% else %}
        {% for item in gmeta %}
    <meta name="title" content="{{ item.meta_title }}">
    <meta name="description" content="{{ item.meta_desc }}">
    <meta name="keywords" content="{{ item.meta_key }}" >
        {% endfor %}
        {% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if lmeta %}
{% for item in lmeta %}
<title>{{ item.meta_title }}</title>
{% endfor %}
{% else %}
    {% for item in gmeta %}
<title>{{ item.meta_title }}</title>
    {% endfor %}
{% endif %}
<link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'static/css/ekko-lightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'static/css/reset.css' %}" rel="stylesheet">
<link href="{% static 'static/css/fonts.css' %}" rel="stylesheet">
<link href="{% static 'static/css/style.css' %}" rel="stylesheet">
<!-- <link href="{% static 'static/css/style.less' %}" rel="stylesheet"> -->
<link href="{% static 'static/css/media.css' %}" rel="stylesheet">
<!-- Заглушка на старые браузеры -->
<!--[if IE 8]>
   <script>
      window.location = "oldbrowser/index.html";
   </script>
<![endif]-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>	<![endif]-->

<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'static/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static/js/ekko-lightbox.min.js' %}"></script>
<script src="{% static 'static/js/custom.js' %}"></script>